.source-container {
    .source-view {
        &.active {
            .card {
                &:hover {
                    background: #80DEEA !important;
                }
                background: #80DEEA !important;
            }
        }
        .card {
            cursor: pointer;
            &:hover {
                background: #B2EBF2 !important;
            }
            .tag-wrapper {
                display: inline-block;
                .chip {
                    margin: 2px !important;
                }
            }
        }
    }
}
