.source-frame-container {
    .choose-source {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #006064;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5em;
        text-shadow: 2px 2px 2px #B2EBF2;
    }
}
